/*========================================*/
/*              Reusable Components       */
/*=======================================*/

.container{
	width: 100%;
    margin: 0 auto;
	padding: 0 2em;
}

@media only screen and (min-width: 768px){
	
}

.row-container{
	
}



section{
	
	padding: 2.5%;
	text-align: center;
	
	@media only screen and (max-width: 768px){padding: 10% 0;}

}


.row-section {
    max-width: 100%;
	width: 90%;
    margin: 0 auto;
	
	@media only screen and (max-width: 1200px){padding: 0 2%; }

}





@media only screen and (max-width: 767px){
	.col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
}


.box p{
    font-size: 90%;
    line-height: 145%;
}


.fill-screen {
    background-size: cover;
    background-position: center;  
}


.fixed-attachment {
	background-attachment: scroll;
	
	@media only screen and (min-width: 768px){ background-attachment: fixed;}

}











