/*========================================*/
/*           FEATURES SERVICES             */
/*=======================================*/

.section-features .long-copy { margin-bottom: 30px; }


/*========================================*/
/*           LES STAGES: 	             */
/*=======================================*/

#stage{
	
  
	

    .row-section{
            
             @media only screen and (max-width: 480px){
                display: flex;
                flex-direction: column;

             }


             width: 100% !important;
             margin: 0;
             padding: 0;


            @media only screen and (min-width: 768px){
            @include flex-flex-wrap(wrap);
            
         }

          @media only screen and (max-width: 480px){
             .order1{
              @include order(1);
             }

             .order2{
              @include order(2);
             }

             .order3{
              @include order(3);
             }

             .order4{
              @include order(4);
             }

             .order5{
              @include order(5);
             }

             .order6{
              @include order(6);
             }


             }
        

         .stage-box{

            .stage-item{
                padding: 2em;

                 @media only screen and (min-width: 768px){
                    padding: 4em;
                 }
            }

            @include flex-basis(100%);


            @media only screen and (min-width: 768px){
                 @include flex-basis(50%);

                 @include flex-direction-justify(column, center);
            
             }

            }
         

         @media only screen and (min-width: 767px) and (max-width: 1024px){}

         .col{


             @media only screen and (min-width: 768px){
                
                    margin: 0;
                }
         }



            .stage-box{

                 @media only screen and (min-width: 768px){
                    

                    img{
                        height: 100%;
                    }
                 }

                h3{
                    font-weight: bolder;
                }



                figure.stageItem{
                    margin: 0;



                }

            }
    
        
    }




	
}




/*========================================*/
/*           SIGN UP    */
/*=======================================*/


.section-plans { background: #f4f4f4; }

.plan-box {
    background: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
}

.plan-price-meal { font-size: 80%; }

.plan-price span {
    font-size: 30%;
    font-weight: 300;
    color: #e56664;
}

.plan-box ul { list-style: none; }

.plan-box ul li{ padding: 5px 0; }


@media only screen and (max-width: 1023px){
	.plan-box {
        width: 100%;
        margin-left: 0%;
    }
	
	 .plan-price { font-size: 250%;}
}


/*========================================*/
/*            Gallery                      */
/*=======================================*/

.section-gallery {padding: 0;}

.gallery-showcase {
    list-style: none;
    width: 100%;
}

.gallery-showcase li{
    display: block;
    float: left; /* to show side by side*/
    width: 25%;
}

.gallery-photo {
    width: 100%;
    margin: 0;
    overflow: hidden; /* to stop the image to overflow it parent */
     background-color: #000; /* background dark for the opacity */
   
}

.gallery-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15); /* scale the image to 150 big*/
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;  /* annimate the image*/
    
}

.gallery-photo img:hover {
     opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/*========================================*/
/*             How it works      */
/*=======================================*/

.section-steps {
    background-color: #f4f4f4;
    margin: 0;
} 


@media only screen and (min-width: 768px){
	.worksStepBox1{text-align: left;}
}



.worksStepBox2{ text-align: left !important;}

.worksStepBox2 .ksmOgamme{width: 60%;}
.worksStepBox2 .shin{
	margin-left: 8%;
	width: 30%;
}


.worksStepBox2 img{height: 277px;}

.works-step p{line-height: 1.5;}
.steps-box:first-child {
	
     
}

.steps-box:first-child img{ 
	
}

.steps-box:last-child {padding-left: 3%; }

@media only screen and (min-width: 768px){
	.steps-box:last-child{
		text-align: left;
	}
}


@media only screen and (max-width: 768px){
	.app-screen { width: 50%; }	
}

.app-screen {width: 100%;}

@media only screen and (max-width: 480px){
	
}

.works-step {margin-bottom: 25px;}

.works-step:last-of-type {margin-bottom: 80px; }

.works-step div {
    color: #e56664;
    border: 2px solid #e56664;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited{
    border: 0;
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
    
}



@media only screen and (max-width: 767px){
	 
    .steps-box:first-child { text-align: center; }

    
    .works-step { margin-bottom: 20px; }
    .works-step:last-of-type { margin-bottom: 20px; }
    
    .works-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }
	
}

@media only screen and (max-width: 1023px){
	
	.steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-steps { margin-bottom: 40px; }
    .works-step:last-of-type { margin-bottom: 60px; }
    
    
	
}



/* lien showcase */


.lien, .resulta{
	padding-top: 50px;
	
}
.lien{
	content: "";
  	clear: both;
	width: 100%;
	
}

.lien-Showcase{
	list-style: none;
}

.lien-Showcase li{
	display: block;
	float: left;
	width:16.66666666666667%;
}

.lien-Showcase li img{
	width: 100%;
}


.text-white{padding-top: 10%;}

.karateEvents{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/karatefamille.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/karatefamille.jpg);
    background-size: cover;
    background-attachment: fixed;
	background-position: center;
	height: 100vh;
    color: #fff; 
}






/* ----------------------------------------------- */
/* CITIES */
/* ----------------------------------------------- */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.comp-rencontre { margin-bottom: 5px; }

@media only screen and (max-width: 1023px){
	.city-feature { font-size: 90%;}
}

/*========================================*/
/*             TESTIMONIALS      */
/*=======================================*/

.fill-screen {
    background-size: cover;
    background-position: center;  
}

@media only screen and (max-width: 480px){
	.fill-screen {
    background-size: cover;
    background-position: center; 
        
    }
}

@media (max-width: 1024px){
	 .fill-screen {
    background-size: cover;
    background-position: center; 
        
    }
}

.fixed-attachment {
    background-attachment: fixed;
}

@media only screen and (max-width: 480px){
	.fixed-attachment { background-attachment: scroll; }
}

@media (max-width: 1024px){
    .fixed-attachment { background-attachment: scroll; }
}


.section-testimonials {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/hero2_min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero2_min.jpg);
   background-size: cover;
    color: #fff;
    background-attachment: fixed;  
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}
cite img {
   
    margin-right: 10px;
    vertical-align: middle;
}

